  .todos-container input.textfield {
    width: 100%;
    height: 36px;
    padding: 5px;
  }

  .todos-container input.checkbox {
    width: 20px;
    height: 20px;  
    margin-right: 5px;  
    position: relative;
    top: 5px;
  }

  .todos-container .checked {
    text-decoration: line-through;
  }

  .todos-container .delete-icon {
    display: inline-block;
    cursor: pointer;
  }

  .todo-list {
    list-style-type: none
  }

  .todo-list input.checkbox{
    display: inline-block;
    top: 5px;
  }

  .list-group {
    text-align: left;
  }
  
  