<div class="todos-container">
  <div class="my-3 p-3 bg-white rounded box-shadow">
    <div>
      <form (submit)="addTodo($event)">
        <div class="form-row">
          <div class="col-10">
              <input type="text" autofocus [(ngModel)]="newTodo" (keyup.enter)="newTodo=''" class="textfield mb-2 mr-sm-2" name="newTodo" placeholder=" Type in a new todo..."/>
            </div>
          <div class="col">
              <button  type="submit" class="btn btn-primary float-right"  [disabled]="newTodo===''">Add</button>
          </div>
        </div>
      </form>
    </div>

    <div class="mt-5">
      <div class="float-right" *ngIf="todos.length">
        <button class="btn btn-primary" (click)="deleteSelectedTodos()">Delete Selected</button>
      </div>
      <div class="text-left">
        <h3>To Dos:</h3>
      </div>
      <ul class="list-group mt-3">
        <li class="list-group-item"  *ngFor="let todo of todos; let i=index">
            <input type="checkbox" class="checkbox" [(ngModel)]="todo.completed" (click)="updateTodos()" title="Mark as complete" />
            <span [ngClass]="{'checked': todo.completed}">{{ todo.text }}</span>
            <span (click)="deleteTodo(i)" class="delete-icon text-danger" title="Delete">[X]</span>
        </li>
      </ul>

      <p *ngIf="!todos.length">No todos found</p>
    </div>
  </div>
</div>
